<h2>THIS IS THE LOGIN PAGE</h2>
<div>
    <h3>Please login</h3>
    <form name="loginForm" ng-submit="submit(loginForm.$valid)" novalidate>
        <div class="form-group">
            <label>Username:</label>
            <input
                type="text"
                name="username"
                ng-model="username"
                ng-minlength="5"
                ng-maxlength="25"
                required
            >
            <p
                ng-show="loginForm.username.$error.minlength && loginForm.username.$dirty"
                class="help-block"
            >Username is too short.</p>
            <p
                ng-show="loginForm.username.$error.maxlength && loginForm.username.$dirty"
                class="help-block"
            >Username is too long.</p>
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input
                type="password"
                name="password"
                ng-model="password"
                ng-minlength="2"
            >
            <p
                ng-show="loginForm.password.$invalid && loginForm.password.$dirty"
                class="help-block"
            >Password is too short.</p>
        </div>
        <button type="submit" ng-disabled="loginForm.$invalid">Login</button>
    </form>
</div>