<h2>LOGIN</h2>
<div id="login-error" class="alert alert-danger alert-dismissible fade in" style="display:none;">
    <a href="#" class="close" aria-label="close">&times;</a>
    <strong>Invalid!</strong> Please check your credentials and try again.
</div>
<div class="col-xs-6 col-sm-3">
    <h4>Please log in:</h4>
    <form name="loginForm" ng-submit="submit(loginForm.$valid)" novalidate>
        <div class="form-group">
            <label>Username:</label>
            <input
                type="text"
                name="username"
                ng-model="username"
                ng-minlength="5"
                ng-maxlength="25"
                required
            >
            <p
                ng-show="loginForm.username.$error.minlength && loginForm.username.$dirty"
                class="help-block"
            >Username is too short.</p>
            <p
                ng-show="loginForm.username.$error.maxlength"
                class="help-block"
            >Username is too long.</p>
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input
                type="password"
                name="password"
                ng-model="password"
                ng-minlength="2"
                required
            >
            <p
                ng-show="loginForm.password.$invalid && loginForm.password.$dirty"
                class="help-block"
            >Password is too short.</p>
        </div>
        <button type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid">Login</button>
    </form>
</div>