<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <!--  Display three horizontal lines when navbar collapsed. -->
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Welcome to grnfld.</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a ng-show="$root.userId" href="/submit">Submit</a></li>
        <li><a ng-hide="$root.userId" href="/login">Login</a></li>
        <li><a ng-hide="$root.userId" href="/register">Register</a></li>
      </ul>
    </div>
  </div>
</div>

