<div>
    <button ng-click="refresh()" type="button" class="btn btn-primary btn-sm pull-right">Refresh</button>
    <h3 class="" style="margin-left: 10px;">Most Recent Posts:</h3>
    <div class="list-group">
        <a ng-repeat="post in filteredPosts track by $index" ng-click="handlePostClick($index)" post="post" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#myModal">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><strong>{{post.title}}</strong></h5>
                <small><strong>{{post.username}}</strong></small>
            </div>
            <p class="mb-1">{{post.summary}}</p>
            <small>{{post.created_at | date:'medium'}}</small>
        </a>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{currentPost.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <pre>{{currentPost.code}}</pre>
                    </div>
                    <div class="modal-body">
                        <p>{{currentPost.summary}}</p>
                    </div>
                    <div class="modal-footer">
                        

                        <div ng-repeat="comment in comments track by $index" class="comments-list" ng-class="{'solution': comment.solution}">
                            <!--designate solution for post-->
                            
                            <div class="row">
                                <!-- <p class="pull-right"><small></small></p> -->
                                    <!--<a class="media-left" href="#">
                                   <img src="http://lorempixel.com/40/40/people/1/">
                                 </a> -->

                            
                            <div class="col-md-9">
                            <div class="panel panel-default">
                            <div class="panel-heading">
                            <strong>{{comment.username}}</strong> <span class="text-muted">commented at {{comment.created_at | date:'short'}}</span>
                            <span ng-class="{'glyphicon glyphicon-star': currentPost.solution_id === comment.comment_id}" aria-hidden="true"></span>
                            </div>
                            <div class="panel-body">
                            {{comment.message}}
                            </div><!-- /panel-body -->
                            <p style="margin-right: 2px;"><small><a ng-class="{'disabled': $root.hackcoin <= 0 || !$root.userId}" ng-click="likeComment(comment.comment_id, $index)" href="">Like</a> - <a ng-show="currentPost.user_id === $root.userId" ng-click="selectSolution(comment)" href="">Mark as Solution</a> Votes: {{comment.votes}}
                                </small></p>
                            </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->
                            <div class="col-sm-3">
                            <div class="thumbnail">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->
<!--                                  <div class="media-body">
                                     
                                   <h4 class="media-heading user_name">{{comment.username}} says:</h4>
                                   {{comment.message}}
                
                                   <p><small><a ng-click="likeComment(currentPost, comment)" href="">Like</a> - <a ng-show="currentPost.user_id === $root.userId" ng-click="selectSolution(comment)" href="">Mark as Solution</a> Votes: {{comment.votes}}
                                    <div>{{comment.created_at.slice(0, 10)}}</div></small></p>
                                </div> -->
                            </div>
                        </div>


                        <form ng-show="$root.userId" name="commentForm" ng-submit="submitComment(commentForm.$valid)" novalidate>

                            <div class="form-group">
                                <label for="newCommentDescription" class="pull-left">Your response</label>
                                <textarea
                                    name="message"
                                    ng-model="message"
                                    class="form-control"
                                    rows="3"
                                    placeholder="Write your comment here"
                                    ng-maxlength="8000"
                                    required
                                ></textarea>
                                <p
                                    ng-show="commentForm.message.$error.required && commentForm.message.$dirty"
                                    class="help-block"
                                >You cannot leave a blank comment.</p>
                                <p
                                    ng-show="commentForm.message.$error.maxlength"
                                    class="help-block"
                                >Your comment is too long.</p>
                            </div>
                            <button
                                type="submit"
                                ng-click="commentForm.$setPristine()"
                                ng-disabled="commentForm.$invalid"
                                class="btn btn-primary pull-left"
                            >Submit</button>
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>
