<div>
    <h3>Most Recent Posts:</h3>
    <div class="list-group">
        <a ng-repeat="post in $ctrl.posts track by $index" ng-click="$ctrl.handlePostClick($index)" post="post" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#myModal">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{post.title}}</h5>
                <small>author goes here</small>
            </div>
            <p class="mb-1">{{post.summary}}</p>
            <small>{{post.created_at}}</small>
        </a>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">{{$ctrl.currentPost.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{$ctrl.currentPost.code}}</p>
                      </div>
                    <div class="modal-body">
                      <p>{{$ctrl.currentPost.summary}}</p>
                    </div>
                    <div class="modal-footer">
                      <p>Hey i want a comment here</p>
                      <div class="comments-list">
                            <div class="media">
                                <p class="pull-right"><small>5 days ago</small></p>
                                 <a class="media-left" href="#">
                                   <img src="http://lorempixel.com/40/40/people/1/">
                                 </a>
                                 <div class="media-body">
                                     
                                   <h4 class="media-heading user_name">Baltej Singh</h4>
                                   Wow! this is really great.
                                   
                                   <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                                 </div>
                               </div>
                            </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
              
                </div>
              </div>
       
    </div>
</div>
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

