<div>
    <h3>Most Recent Posts:</h3>
    <div class="list-group">
        <a ng-repeat="post in filteredPosts track by $index" ng-click="handlePostClick($index)" post="post" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#myModal">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{post.title}}</h5>
                <small>{{post.username}}</small>
            </div>
            <p class="mb-1">{{post.summary}}</p>
            <small>{{post.created_at.slice(0, 10)}}</small>
        </a>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">{{currentPost.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <pre>{{currentPost.code}}</pre>
                      </div>
                    <div class="modal-body">
                      <p>{{currentPost.summary}}</p>
                    </div>
                    <div class="modal-footer">
                        <div ng-repeat="comment in comments track by $index" class="comments-list">
                            <div class="media">
                                <p class="pull-right"><small></small></p>
<!--                                  <a class="media-left" href="#">
                                   <img src="http://lorempixel.com/40/40/people/1/">
                                 </a> -->
                                 <div class="media-body">
                                     
                                   <h4 class="media-heading user_name">{{comment.username}} says:</h4>
                                   {{comment.message}}
                                   
                                   <p><small><a href="">Like</a> - <a href="">Mark as Solution</a> Votes: {{comment.votes}}
                                    <div>{{comment.created_at.slice(0, 10)}}</div></small></p>
                                 </div>
                            </div>
                        </div>
                        <form ng-show="$root.userId" role="form" novalidate>
                                <div class="form-group">
                                  <label for="newCommentDescription">Description</label>
                                  <textarea ng-model="message" class="form-control" rows="3" placeholder="Write your comment here"></textarea>
                                </div>
                                <button ng-click="submitComment()" type="button" class="btn btn-primary">Submit</button>
                              </form>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
              
                </div>
              </div>
       
    </div>
</div>
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
