<h2>THIS IS THE REGISTRATION PAGE</h2>
<div>
  <h3>Please register</h3>
  <form name="registerForm" ng-submit="submit(registerForm.$valid)" novalidate>
        <div class="form-group">
            <label>Username:</label>
            <input
                type="text"
                name="username"
                ng-model="username"
                ng-minlength="5"
                ng-maxlength="25"
                required
            >
            <p
                ng-show="registerForm.username.$error.minlength && registerForm.username.$dirty"
                class="help-block"
            >Username is too short.</p>
            <p
                ng-show="registerForm.username.$error.maxlength"
                class="help-block"
            >Username is too long.</p>
            <p
                ng-show="registerForm.username.$error.required && registerForm.username.$dirty"
                class="help-block"
            >A username is required.</p>
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input
                type="password"
                name="password"
                ng-model="password"
                ng-minlength="2"
                required
            >
            <p
                ng-show="registerForm.password.$invalid && registerForm.password.$dirty"
                class="help-block"
            >Password is too short.</p>
            <p
                ng-show="registerForm.password.$error.required && registerForm.password.$dirty"
                class="help-block"
            >A password is required.</p>
        </div>
        <button type="submit" ng-disabled="registerForm.$invalid">Register</button>
    </form>
</div>
